
footer
{
    text-align:center;
    font-size:30px;
    color:white;
    margin:50px;
}
body
{
    background-color:black;
}
p
{
    font-size:25px;
    color:black;
    margin:0;
    padding:0;
}
.clearfix:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
.title-text
{
    color:white;
    text-align:center;
    font-size:60px;
    margin:50px;
}

.content-table
{
    display:table;
    width:100%;
    height:auto;
}
.content-row
{
    display:table-row;
    width:100%;
    height:auto;
}
.content-column
{
    display:table-cell;
    height:auto;
    width:33%;
    vertical-align:top;
}
#viewport
{

}
.title-row
{
    height:100px;
}
.top-bar
{
    margin-bottom:20px;
    background-color:lightgray;
}
.info-label
{
    float:left;
    color:black;
    font-size:40px;
    margin:30px;
}
#turn-label
{

}
#player-turn-label
{

}
#action-label
{

}
#timer-label
{

}
.btn-end-turn
{
    float:left;
    font-size:50px;
    padding:20px;
}
.sidebar-player-container
{
    margin:0;
    padding:0;
    vertical-align:top;
    width:90%;
    height:100%;
    background:blue;
    
}
.sidebar-player
{
    background:lightgray;
    width:100%;
    height:350px;
    right:0px;
    margin-bottom:10px;
    padding:10px;
}
.sidebar-left
{
    vertical-align:top;
    right:0px;
    float:right;
}

.sidebar-right
{
    vertical-align:top;
    left:0px;
    float:left;
}
.card-container
{
    width:95%;
    height: 100px;

}
.info-card
{
    height:100px;
    padding:5px;
    width:100px;
    color:black;
    float:left;
    margin-right:10px;
    font-size:14px;
}
.player-info
{

    width:95%;
    height:170px;
}








