
footer
{
    text-align:center;
    font-size:30px;
    color:white;
    margin:50px;
}
body
{
    background-color:black;
}
p
{
    font-size:25px;
    color:black;
    margin:0;
    padding:0;
}
.clearfix:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
.title-text
{
    color:white;
    text-align:center;
    font-size:60px;
    margin:50px;
}

.content-table
{
    display:table;
    width:100%;
    height:auto;
}
.content-row
{
    display:table-row;
    width:100%;
    height:auto;
}
.content-column
{
    display:table-cell;
    height:auto;
    width:33%;
    vertical-align:top;
}
#selection
{
	height:70px;
	width:100%;
	background-color:white;
}
#viewport
{

}
.title-row
{
    height:100px;
}
.margin-row
{
	height:20px;
	width:100%;
}
.top-bar
{
    height:220px;
}
.top-bar-info
{
	height:72px;
    background-color:white;
}
.top-bar-row
{
    margin-bottom:40px;
}
.info-label
{
    float:left;
    color:black;
    font-size:35px;
    margin:15px;
}
.info-label-form
{
	color:black;
	font-size:15px;
}
#turn-label
{

}
#player-turn-label
{

}
#action-label
{

}
#timer-label
{

}
.btn-end-turn
{
    float:left;
    font-size:32px;
    padding:7px;
}
.btn
{
    float:left;
    font-size:35px;
    padding:7px;
    background-color:black;
    color:white;
}
.btn-create-info-center
{
    float:right;
    font-size:32px;
    padding:7px;
}
.btn-create-road-block
{
    float:right;
    font-size:32px;
    padding:7px;
}
.sidebar-player-container
{
    margin:0;
    padding:0;
    vertical-align:top;
    width:90%;
    height:100%;
    background:blue;
    
}
.sidebar-player
{
    background:white;
    width:98%;
    height:350px;
    right:0px;
    margin-bottom:30px;
    padding:10px;
    border-radius:0;
}
.sidebar-textform
{
	background:grey;
    width:50%;
    height: 100px;
    right:0px;
    margin-bottom:30px;
    padding:10px;
    border-radius:30px;
}
.sidebar-left
{
    vertical-align:top;
    margin-right:50px;
    float:right;
    width:520px;
}

.sidebar-right
{
    vertical-align:top;
    margin-left:50px;

    width:520px;
}
.card-container
{
    width:95%;
    height: 100px;

}
.info-card
{
    height:100px;
    padding:5px;
    width:110px;

    background-color:black;
    color:white;
    float:left;
    margin-right:7px;
    margin-right:7px;
    font-size:18px;
}
.player-info
{

    width:95%;
    height:160px;
}
.role-info-label
{
	margin-top:20px;
}
.indexbtn
{
	width:634px;
	height:100px;
	margin-bottom:20px;
	font-size:40px;
}
.template-entry
{
	padding:10px;
	background-color: white;
	margin-bottom:20px;
	width:100%;
}
.template-info
{
	margin:10px;
	font-size: 20px;
	color:black;
	width:180px;
	text-align:center;
	float:left;
}








