<!DOCTYPE html5>
<html lang="en">
<head></head>
<body>
<style type="text/css">
	span {display:block;}
</style>


<h1> Create game </h1>
<form action="" >
	<span>Number of players:
		<select>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
		</select>
	</span>
	<span>Map: 
		<select>
			<option value="Sahara">Sahara</option>
			<option value="New York">New York</option>
			<option value="Oslo">Oslo</option>
		</select>
	</span>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>


</body>
</html>
