<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css" >
</head>

<body>
<div class="content-table">
	
	<div class="content-row">
		<div class="content-column">
		<div class="content-column top-bar clearfix">
			<div id="top_text_expert" class="info-label">
				Expert interface form
			</div>
			
		</div>
		</div>
	</div>
	

	<div class="content-row">
		
		
		<div class="content-column">
			
			
			
			<div class="sidebar-textform">
				<div class="content-column">
					<div class="content-row">
						<div id="1_player_info_label" class="info-label-form"> 
							Create a new effect:
							<br>
							A created effect will be added to 
							<br>
							Info Card creation
							
						</div>
						
					</div>
				</div>
				
				<div class="content-column">
					<div class="content-row">
						
						<div class="content-row">
							<div class="content-column">
								Name:
							</div>
							<div class="content-column">
								<input id="effect_name" type="text" name="something">
							</div>
						</div>
						<div class="content-row">
							<div class="content-column">
								Domain:
							</div>
							<div class="content-column">
								<input id="effect_domain" type="text" name="something">
							</div>
						</div>
							
						
						<div class="content-row">
							<div class="content-column">
								Type:
							</div>
							<div id="node_column" class="content-column">
								<select id="effect_type">
									<option value="panic">panic</option>
									<option value="event">event</option>
									
								</select>
							</div>
						</div>
						
					</div>
					<div class="content-row">
						<button class="button" id="card_add_effect" onClick="gco.card_create_add_effect()">Add Effect(Card)</button>
						<button class="button" id="event_add_effect" onClick="gco.event_add_effect()">Add Effect(Event)</button>
						
					</div>
					
				</div>
				<div class="content-column">
					<div class="content-row">
						<div class="content-row">
							<div class="content-column">
								Panic:
							</div>
							<div class="content-column">
								<input id="effect_panic" type="text" name="something">
							</div>
						</div>
						<div class="content-row">
							<div class="content-column">
								Affects:
							</div>
							<div class="content-column">
								<input id="effect_affects" type="text" name="something">
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
			<div class="sidebar-textform">
				<div class="content-column">
					<div class="content-row">
						<div id="1_player_info_label" class="info-label-form">
							Create a new informationcard:
							
						</div>
						
					</div>
					<div class="content-row">
						<div class="content-column">
							Show Card:
						</div>
						<div id="card_show_column" class="content-column">
							<select id="card_show" onChange="gco.show_card()">
								<option value="-1">none added</option>
								
							</select>
						</div>
						
					</div>
				</div>
				
				<div class="content-column">
					<div class="content-row">
						
						<div class="content-row">
							<div class="content-column">
								Name:
							</div>
							<div class="content-column">
								<input id="card_name" type="text" name="something">
							</div>
						</div>
							
						<div class="content-row">
							<div class="content-column">
								Desc:
							</div>
							<div class="content-column">
								<input id="card_desc" type="text" name="something">
							</div>
						</div>
						
						<div class="content-row">
							<div class="content-column">
							Nr of cards:
						</div>
						<div class="content-column">
							<input id="card_count" type="text" name="something">
						</div>
						</div>
						
					</div>
					<div class="content-row">
						<button class="button" onclick="gco.add_info_card();">Create ICard</button>
						<button class="button" onclick="gco.change_player();">Delete ICard</button>
					</div>
					
				</div>
				<div class="content-column">
					<div class="content-row">
						
						<div class="content-column">
							Nr of Eff:
						</div>
						<div class="content-column">
							<input id="card_effect_count" type="text" name="something">
						</div>
					
						
					</div>
					<div class="content-row">
						
						
						<div class="content-column">
							Effect:
						</div>
						<div id="node_column" class="content-column">
							<select id="card_effect">
								<option value="-1">none added</option>
								
							</select>
						</div>
					
						
					</div>
					<div class="content-row">
						<div class="content-column">
							
						</div>
						<div id="card_show_column" class="content-column">
							
							<button class="button" id="card_remove_effect" onClick="gco.card_create_remove_effect()">Remove Effect</button>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="sidebar-textform">
				<div class="content-column">
					<div class="content-row">
						<div id="1_player_info_label" class="info-label-form"> Create a new player:<br>if nothing typed it will be set to a default value</div>
						
					</div>
				</div>
				
				<div class="content-column">
					<div class="content-row">
						
						<div class="content-row">
							<div class="content-column">
								Role:
							</div>
							<div id="player_role_column" class="content-column">
								<select id="player_role">
									<option value="coordinator">coordinator</option>
									<option value="crowd manager">crowd manager</option>
									<option value="driver">driver</option>
									<option value="operation expert">operation expert</option>
									<option value="volunteer">volunteer</option>
									<option value="passer by">passer by</option>
									
								</select>
							</div>
						</div>
							
						
						<div class="content-row">
							<div class="content-column">
								Startnode:
							</div>
							<div id="node_column" class="content-column">
								<select id="player_node">
									<option value="-1">none added</option>
									
								</select>
							</div>
						</div>
						
					</div>
					<div class="content-row">
						<button class="button" onclick="gco.add_player();">Add Player</button>
						<button class="button" onclick="gco.change_player();">Change selected player</button>
						<button class="button" onclick="gco.del_selected_player();">Delete Player</button>
					</div>
					
				</div>
			</div>
			
			
			<div class="sidebar-textform">
				<div class="content-column">
					<div class="content-row">
						<div id="1_player_info_label" class="info-label-form"> 
							Zone changing:
							<br>
							Edit the info of the zone
						</div>
						
					</div>
				</div>
				
				<div class="content-column">
					<div class="content-row">
						
						<div class="content-row">
							<div class="content-column">
								Name:
							</div>
							<div class="content-column">
								<div id="zone_id" type="info_label">no zone selected</div>
							</div>
						</div>
							
						
						<div class="content-row">
							<div class="content-column">
								Type:
							</div>
							<div id="content_column" class="content-column">
								<select id="edit_zone_type">
									<option value="residential">residential</option>
									<option value="industry">industry</option>
									<option value="park">park</option>
									<option value="largecity">largecity</option>
									
								</select>
							</div>
						</div>
						
						<div class="content-row">
							<div class="content-column">
								People:
							</div>
							<div id="content_column" class="content-column">
								<input type="text" id="zone_people" value="0">
							</div>
						</div>
						<div class="content-row">
							<div class="content-column">
								Panic:
							</div>
							<div id="content_column" class="content-column">
								<input type="text" id="zone_panic" value="0">
							</div>
						</div>
					</div>
					<div class="content-row">
						<button class="button" onclick="gco.edit_zone();">Change</button>
					</div>
					
				</div>
			</div>
			
			
			Map name: 
			<input id="template_name" type="text" name="something"><br>

	

			<div class="content-row">
				<button class="button" onclick="gco.export_to_database();">Export To Database</button>
			</div>
			<div class="content-row">
				<button class="button" onclick="gco.init_game();">Start!</button>
				<button class="button" onclick="gco.del_selected_node();">Delete node</button>
				<button class="button" onclick="gco.node_connection();">Start node connection</button>
				<button class="button" onclick="gco.add_zone_nodes();">Add zone node</button>
				<button class="button" onclick="gco.clear_zone_nodes();">Clear zone nodes</button>
				<button class="button" onclick="gco.create_zone();">Create zone</button>
				<button class="button" onclick="gco.del_selected_zone();">Delete zone</button>
			</div>
			<div class="content-row">
				<canvas id="viewport">
					<p>Your browser is terrible</p>
					<p>Get a good one here:</p>
					<p><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></p>
					<p><a href="https://www.google.com/intl/no/chrome/browser/">Chrome</a></p>
				</canvas>
			</div>
			
			

		</div>
	</div>

</div>

<script src="expert_interface.js"></script>

</body>
</html>