<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body style="height:2000px">





<div style="position: absolute; bottom: 0; right: 0; width: -500px; text-align:right;">
<embed
src="/music/panic_screams_introv2.mp3"
width="300"
height="110"
loop="true"
autostart="true" />
    </div>




<div class="content-table">




    
    <div class="title-row content-row">
        <div class="content-column"></div>
        <div class="content-column title-text">
            DON'T PANIC
        </div>
        <div class="content-column"></div>
    </div>
    
    <div class="content-row">
    	<div class="content-column"></div>
        <div class="content-column" id="maindiv">
			<button class="indexbtn" onclick="play()">Play</button>
       		<a href="/expert" ><button class="indexbtn">Expert Interface</button></a>
       		<button onclick="game_manager()" class="indexbtn">Game Master</button>
       		<button class="indexbtn" onclick="replay()" >Replay</button>

        </div>
        <div class="content-column"></div>
       
    </div>

    <div class="content-row">
		<div class="content-column"></div>
        <div class="content-column">
			
        </div>
        <div class="content-column"></div>
    </div>
</div>

<footer>A game by Group 10</footer>

<script src="/js/cookies.js"></script>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/index.js"></script>


</body>
</html>
