<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>

<div style="float:RIGHT;margin:0 15px 5px 0;">
<embed
embed {left: 50px; margin-left: 450px; }
src="/music/dynamite.mp3"
width="180"
height="90"
loop="true"
autostart="true" />
</div>

<div class="content-table">


    
    <div class="title-row content-row">
        <div class="content-column"></div>
        <div class="content-column title-text">
            DON'T PANIC
        </div>
        <div class="content-column"></div>
    </div>
    
    <div class="content-row">
    	<div class="content-column"></div>
        <div class="content-column" id="maindiv">
			<button onclick="play()" class="indexbtn">Play</button>
       		<a href="/expert" ><button class="indexbtn">Expert Interface</button></a>
        </div>
        <div class="content-column"></div>
       
    </div>

    <div class="content-row">
		<div class="content-column"></div>
        <div class="content-column">
			
        </div>
        <div class="content-column"></div>
    </div>
</div>

<footer>A game by Group 10</footer>

<script src="/js/cookies.js"></script>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/index.js"></script>


</body>
</html>
