<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" >
</head> 
<body>
<div class="content-table">
    
    <div class="title-row content-row">
        <div class="content-column"></div>
        <div class="content-column title-text">
            Replay 
        </div>
        <div class="content-column"></div>
    </div>
	
    <div class="content-row">
    	<div class="content-column"></div>
        <div class="content-column" id="maindiv">
			
        </div>
        <div class="content-column"></div>
       
    </div>
</div>

<footer>A game by Group 10</footer>
</body>
</html>

<script src="/js/client.js"></script>
<script src="/js/replay.js"></script>
</body>	
</html>