<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" >
</head> 
<body onload="show_replay()">
<div class="content-table">
    
    <div class="title-row content-row">
        <div class="content-column"></div>
        <div class="content-column title-text">
            Replay 
        </div>
        <div class="content-column"></div>
    </div>
	
    <div class="content-row">
    	<div class="content-column"></div>
        <div class="content-column" id="maindiv">		   
			<button onclick="previous_action()">Previous action</button>
			<button onclick="next_action()">Next action</button>
		</div>
	
		<div class="content-row">
		<canvas id="viewport">
			<p>Your browser is terrible</p>
			<p>Get a good one here:</p>
			<p><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></p>
			<p><a href="https://www.google.com/intl/no/chrome/browser/">Chrome</a></p>
		</canvas>
	</div>
        </div>
        <div class="content-column"></div>
       
    </div>
</div>

<footer>A game by Group 10</footer>

<script src="/js/cookies.js"></script>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/replay.js"></script>

</body>	
</html>